.about-section {
    font-size: 64px;
    line-height: 80px;
    padding: 160px 20px;
}

.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}

.about-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.about-section-content {
    margin: 30px;
}

@media (max-width: 900px)
.about-section {
    text-align: center;
    padding: 0;
}